{% extends 'base.html' %}

{% block head %}
<title>Chess.ai</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
<script src="{{url_for('static', filename='js/game.js')}}"></script>
<script src="{{url_for('static', filename='js/popup.js')}}"></script>
{% endblock %}

{% block body %}
<div class="page-container">
        <div class="title-container">
                <p class="title">chess.ai</p>
        </div>
        {% if is_finished%}
        <div class="status-display">
                <div class="player-one-display{{" player-one-lost" if is_first_moving else " player-one-won"}}">
                        <p class="player-text player-one-text">{{"Player" if is_first_human else "Computer"}}
                                {{"Lost" if is_first_moving else "Won"}}
                        </p>
                        <p class="player-color player-one-color">Whites</p>
                </div>
                <div class="player-two-display{{" player-two-won" if is_first_moving else " player-two-lost"}}">
                        <p class="player-text player-two-text"> {{"Won" if is_first_moving else "Lost"}}
                                {{"Player" if is_second_human else "Computer"}}
                        </p>
                        <p class="player-color player-two-color">Blacks</p>
                </div>
        </div>
        {% else %}
        <div class="status-display">
                <div class="player-one-display{{" player-one-moves" if is_first_moving else ""}}">
                        <p class="player-text player-one-text">{{"Player" if is_first_human else "Computer"}}</p>
                        <p class="player-color player-one-color">Whites</p>
                </div>
                <div class="player-two-display{{" player-two-moves" if not is_first_moving else ""}}">
                        <p class="player-text player-two-text">{{"Player" if is_second_human else "Computer"}}</p>
                        <p class="player-color player-two-color">Blacks</p>
                </div>
        </div>
        {% endif %}

        <div class="guideline-container noselect">
                <div class="left-guidelines">
                        <p class="helper">1</p>
                        <p class="helper">2</p>
                        <p class="helper">3</p>
                        <p class="helper">4</p>
                        <p class="helper">5</p>
                        <p class="helper">6</p>
                        <p class="helper">7</p>
                        <p class="helper">8</p>
                </div>
                <div class="right-container">
                        <div class="content-container">
                                {% if is_finished%}
                                <div class="game-over game-over-overlay noselect">
                                        <div class="game-over-text">Game over</div>
                                        <div class="game-over-button" onclick="goHome()">Try again</div>
                                </div>
                                {% endif %}
                                <div class="board-container">
                                        {%for row in range(0,8)%}
                                        <div class="row" id="{{"row" + row|string}}">
                                                {%for cell in range(0,8)%}
                                                <div class="cell" id="{{"cell" + row|string + cell|string}}">
                                                        <img class="chess-piece-image"
                                                                src="{{url_for("static", filename=initial_state[row][cell])}}">
                                                </div>
                                                {%endfor%}
                                        </div>
                                        {%endfor%}
                                </div>
                                <div class="logs-container">
                                        <div class="logs-title-container">
                                                <p class="logs-title">Logs</p>
                                        </div>
                                        <div class="logs-content-container">
                                                {%for log in logs%}
                                                <p class="log-row">{{log}}</p>
                                                {% endfor %}
                                        </div>
                                </div>
                        </div>
                        <div class="bottom-guidelines">
                                <p class="helper">a</p>
                                <p class="helper">b</p>
                                <p class="helper">c</p>
                                <p class="helper">d</p>
                                <p class="helper">e</p>
                                <p class="helper">f</p>
                                <p class="helper">g</p>
                                <p class="helper">h</p>
                        </div>
                </div>
        </div>
</div>
{% if is_promoting%}
<div id="popup">
        <div class="overlay"></div>
        <div class="pop-up-container noselect">
                <div class="pop-up-title">Choose a piece to replace the pawn: </div>
                <div class="pop-up-piece-list">
                        <div class="pop-up-piece-container" , id="pop-up-rook">
                                <div class="pop-up-rook"><img class="chess-piece-image"
                                                src="{{url_for("static", filename=("assets/rook-"+ ("white" if is_first_moving else "black")) +".png")}}">
                                </div>
                                <div class="pop-up-piece-title">Rook</div>
                        </div>

                        <div class="pop-up-piece-container" , id="pop-up-bishop">
                                <div class="pop-up-bishop"><img class="chess-piece-image"
                                                src="{{url_for("static", filename=("assets/bishop-"+ ("white" if is_first_moving else "black")) +".png")}}">
                                </div>
                                <div class="pop-up-piece-title">Bishop</div>
                        </div>
                        <div class="pop-up-piece-container" , id="pop-up-knight">
                                <div class="pop-up-knight"><img class="chess-piece-image"
                                                src="{{url_for("static", filename=("assets/knight-"+ ("white" if is_first_moving else "black")) +".png")}}">
                                </div>
                                <div class="pop-up-piece-title">Knight</div>
                        </div>
                        <div class="pop-up-piece-container" , id="pop-up-queen">
                                <div class="pop-up-queen"><img class="chess-piece-image"
                                                src="{{url_for("static", filename=("assets/queen-"+ ("white" if is_first_moving else "black")) +".png")}}">
                                </div>
                                <div class="pop-up-piece-title">Queen</div>
                        </div>

                </div>
        </div>
</div>
{%endif%}
{% endblock %}