{% extends 'base.html' %}

{% block head %}
<title>Chess.ai</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
<script src="{{url_for('static', filename='js/game.js')}}"></script>
<script src="{{url_for('static', filename='js/popup.js')}}"></script>
{% endblock %}

{% block body %}
<div class="page-container">
        <div class="title-container">
                <p class="title">chess.ai</p>
        </div>
        <div class="status-display">
                <div class="player-one-display{{" player-one-moves" if is_first_moving else ""}}">
                        <p class="player-text player-one-text">{{"Player" if is_first_human else "Computer"}}</p>
                        <p class="player-color player-one-color">Whites</p>
                </div>
                <div class="player-two-display{{" player-two-moves" if not is_first_moving else ""}}">
                        <p class="player-text player-two-text">{{"Player" if is_second_human else "Computer"}}</p>
                        <p class="player-color player-two-color">Blacks</p>
                </div>
        </div>
        <div class="guideline-container noselect">
                <div class="left-guidelines">
                        <p class="helper">1</p>
                        <p class="helper">2</p>
                        <p class="helper">3</p>
                        <p class="helper">4</p>
                        <p class="helper">5</p>
                        <p class="helper">6</p>
                        <p class="helper">7</p>
                        <p class="helper">8</p>
                </div>
                <div class="right-container">
                        <div class="content-container">
                                <div class="board-container">
                                        {%for row in range(0,8)%}
                                        <div class="row" id="{{"row" + row|string}}">
                                                {%for cell in range(0,8)%}
                                                <div class="cell" id="{{"cell" + row|string + cell|string}}">
                                                        <img class="chess-piece-image"
                                                                src="{{url_for("static", filename=initial_state[row][cell])}}">
                                                </div>
                                                {%endfor%}
                                        </div>
                                        {%endfor%}
                                </div>
                                <div class="logs-container">
                                        <div class="logs-title-container">
                                                <p class="logs-title">Logs</p>
                                        </div>
                                        <div class="logs-content-container">
                                                {%for log in logs%}
                                                <p class="log-row">{{log}}</p>
                                                {% endfor %}
                                        </div>
                                </div>
                        </div>
                        <div class="bottom-guidelines">
                                <p class="helper">a</p>
                                <p class="helper">b</p>
                                <p class="helper">c</p>
                                <p class="helper">d</p>
                                <p class="helper">e</p>
                                <p class="helper">f</p>
                                <p class="helper">g</p>
                                <p class="helper">h</p>
                        </div>
                </div>
        </div>
</div>

<!-- <div id="popup">
        <div class="overlay"></div>
        <div class="content">
                <h1>Hello</h1>
        </div>
</div> -->
{% endblock %}