{% extends 'base.html' %}

{% block head %}
<title>Game over</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/game-over.css')}}">
<script src="https://kit.fontawesome.com/7a3a21cffd.js" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/over.js')}}"></script>
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="title-container">
        <p class="title">chess.ai</p>
    </div>
    <div class="content-container noselect">
        <div class="center-text-container">
            <p class="player-text">{{winning_player}}({{winning_color}})</p>
            <p class="won">Won</p>
        </div>
    </div>
    <div class="play-button" id="play-button" onclick="goHome()">
        <i class="fas fa-home fa-2x"></i>
    </div>
</div>
{% endblock %}