{% extends 'base.html' %}

{% block head %}
<title>New Game</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/starting_screen.css')}}">
<script src="https://kit.fontawesome.com/7a3a21cffd.js" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="title-container">
        <p class="title">chess.ai</p>
    </div>
    <div class="content-container noselect">
        <div class="topic-choice-container">
            <p class="topic-choice-title">Game</p>
            <div class="choices">
                <div id="classic" class="choice rule">Classic chess</div>
                <div id="weak" class="choice rule">Weak!</div>
                <div id="endgame" class="choice rule">Endgame chess</div>
            </div>
        </div>
        <div class="topic-choice-container">
            <p class="topic-choice-title">Players</p>
            <div class="choices">
                <div id="pvp" class="choice game-type">Player vs Player</div>
                <div id="pvc" class="choice game-type">Player vs Computer</div>
                <div id="cvc" class="choice game-type">Computer vs Computer</div>
            </div>
        </div>
        <div class="topic-choice-container">
            <p class="topic-choice-title">Computer Strategy</p>
            <div class="choices">
                <div id="minimax" class="choice ai-type">Minimax</div>
                <div id="reinforcement" class="choice ai-type">Reinforcement</div>
            </div>
        </div>
    </div>
    <div class="play-button" id="play-button" onclick="runGame()">
        <i class="fas fa-play fa-lg"></i>
    </div>
</div>
{% endblock %}